.contact {
  --default-container-size: 85%;
  --borderColor: #e2e2e2;
  --formField-min-width: 350px;
  --error-color: #9e0000d7;
  --error-border-color: #fd7a7a;
  --success-color: #115300d7;
  --success-border-color: #b2df97;
}

.container {
  position: relative;
  width: var(--default-container-size);
  max-width: 1400px;
  margin: auto;
}
.contactTxt {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.contactTxt h2 {
  margin: 5px 0;
  font-weight: 500;
}

.contactTxt h3 {
  margin-top: 17px;
  font-size: 15px;
  font-weight: 500;
}

.helloBtn {
  display: block;
  margin: 15px 0 10px 0;
}

.contactDetails form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactDetails label {
  text-align: center;
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0;
}

.contactDetails div {
  margin: 5px 0;
  padding: 5px 0;
}

.contactDetails .inputField {
  display: inline-block;
  border-radius: 12px;
  padding: 2px 5px;
  border: 1px solid var(--borderColor);
  min-width: var(--formField-min-width);
  height: 30px;
  transition: 0.35s;
  color: var(--main-fontColor);
  outline: none;
  text-decoration: none;
}
.contactDetails .inputField:focus {
  min-width: 400px;
  border-color: var(--logoColor);
}

.contactDetails .msg {
  font-family: inherit;
  font-size: inherit;
  height: 100px;
  text-decoration: none;
}

.contactDetails .btn {
  background-color: #ffffff;
}

.contactDetails .errorSection {
  margin-top: -15px;
}

.contact .message {
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 11.5px;
  font-weight: 400;
}

.errorMessage {
  border-bottom: 0.5px solid var(--error-border-color);
  color: var(--error-color);
}

.successMessage {
  border-bottom: 0.5px solid var(--success-border-color);
  color: var(--success-color);
  border-radius: 7px;
}
